body {
  background-color: wheat;
  color: #333;
  margin: 0;
}
.Logo {
  margin: 0;
}
nav a {
  color: white;
  text-decoration: none;
}
nav {
  display: flex;
  gap: 1rem;
}
header {
  background-color: tomato;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
p {
  font-size: larger;
  font-family: cursive;
  margin: 40px;
}
.healthy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
h1,
Link {
  color: tomato;
}
.simg,
.mimg,
.dimg {
  gap: 15 rem;
  flex-direction: row;
  width: 20%;
  padding: 8px;
  margin-left: 3%;
}
